
.searchBarDiv {
    display: inline-flex;
    background-color: #b6051a;
    padding: 5px 0;
    color: white;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 30px;
}