body {
  background-color: #ffffff;
  transition: background-color 0.3s ease;

  .spacing-component {
    padding: 15px 10px;
    height: auto;
    overflow: auto;
  }

  #sideBar-item {
    border-bottom: 1px solid #b4b4b4;
  }

  #sideBar .MuiPaper-root a:focus,
  #sideBar .MuiPaper-root a:hover {
    background-color: #7c7c7c;
  }

  #sideBar .MuiPaper-root a:active {
    background-color: #aaaaaa;
  }
  .brand1 {
    color:black;
    margin-left: 5px;
    font-weight: bolder;
    padding: 5px;
  }
  .brand2 {
    background-color: rgb(224, 102, 102);
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
}

.App {
  text-align: center;
}

.profileImage {
  background-size: cover !important;
  height: 200px;
  width: 200px;
}